

.section .destination img{
    width: 100%;
    border-radius: 20px;
}


.section .destination{
    display: grid;
    gap: 4%;
    grid-template-columns: repeat(3, 1fr);
}


.section .destination .destination_img{
    position: relative;

}



.img_des {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--tertiary-color);
    padding: 10px;
    opacity: 0;
    transform: translateY(5%);
    transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out;
    pointer-events: none;
  }
  .destination_img:hover .img_des {
    opacity: 1;
    transform: translateY(0);
    backdrop-filter: blur(3px);
    pointer-events: auto;
  }
  
  .section .destination .destination_img .img_des h1{
    margin-left: 20%;
    margin-top: 40%;
  }

  .section .destination .destination_img .img_des p{
    margin-left: 20%;
  }

  .img_location{
    position: absolute;
    bottom: 90%;
    left: 5%;
    font-size: large;
    opacity: 1;
    color: var(--tertiary-color);
    transition: all 0.5s ease-in-out;
  }

  .destination_img:hover .img_location{
    opacity: 0;
  }

