
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }

  .gallery .image img{
    width: 100%;
    border-radius: 20px;
    transition: all 0.7s ease-in-out;
  }

  .gallery .image img:hover{
    filter: drop-shadow(0 0 7px #000);
    transform: translateY(-10px);
  }
