

header{
    width: 100%;
    
}

.header_img{
    width: 100%;
    height: 745px;
    padding-top: 50px;
    
}

.header_img .gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background: linear-gradient(to right,#06151e,transparent); 
  z-index: 1; 

}
.header_img1{
  display: none;
}

#header_img{
    opacity: 0.7;
}

header .header_text{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 6%;
    left: 3%;
    z-index: 2;
}

.header_text img{  
    width: 80%;
    z-index: 2;
}

header .header_paragraph{
  display: none;
  position: absolute;
  text-align: center;
  font-size: small;
}

.button{
    position: absolute;
    display: flex;
    bottom: 18%;
    left: 18%;
    z-index: 2;
}




.testimonial{

    position: absolute;
    top: 10%;
    left: 60%;
    gap: 500px;
    z-index: 2;
}

.testimonial img{
    width: 90%;
}


